@import "tailwindcss";

:root {
  --primary-text:#1a1a1a;
  --secondary-text:#1a1a1a;

  --primary:#a0a0a0;
  --secondary:#a0a0a0;
  --accent: #404040;
  
  --background: #1a1a1a;
  --foreground: #d9d9d9;

  --destructive: #e06666;
  --destructive-text: #ffffff;

  --muted: #2a2a2a;
  --muted-text: #808080;

  --border:#353535;
  --input: #303030;
}